@font-face {
  font-family: "Dirtyline36Daysoftype2022";
  src:
    url("./Dirtyline36.woff2") format("woff2"),
    url("./Dirtyline36.woff") format("woff"),
    url("./Dirtyline36.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
